<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no"/>
    <title>Sistema de Pedido de Viaturas</title>
    <link th:href="@{/webjars/bootstrap/4.3.1/css/bootstrap.min.css}" rel="stylesheet"/>
</head>
<body>
    <div class="row">
        <div class="mx-auto" style="margin-top: 2%;">
            <h2 class="text-center">Sistema de Pedido de Viaturas da B Adm Ap/CMP</h2>
        </div>
    </div>
    <div class="row">
        <div class="mx-auto">
            <div th:if="${param.error}">
                <div class="alert alert-danger">Usuario/senha invalidos!</div>
            </div>

            <div th:if="${param.logout}">
                <div class="alert alert-info">Usuário desconectado!</div>
            </div>

            <div class="card" style="margin-top: 10%;">
                <h5 class="card-header">Informe usuario e senha</h5>
                <div class="card-body">
                    <form th:action="@{/login}" method="post">
                        <div class="form-group">
                            <label>Login:<input class="form-control" type="text" name="username" placeholder="Usuario"/></label>
                        </div>

                        <div class="form-group">
                            <label>Senha:<input class="form-control" type="password" name="password" placeholder="Senha"/></label>
                        </div>

                        <div class="form-group">
                            <input type="checkbox" id="remember-me" name="remember-me"/>
                            <label for="remember-me">Lembrar</label>
                        </div>

                        <div class="form-group">
                            <button type="submit" class="btn btn-success">Login</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>
</html>